@import "~normalize.css";
@import "~iview/dist/styles/iview.css";
@import "./var";

html,body{
  font-family: @font;
  font-size: @font-size;
  height: 100%;
  width: 100%;
  color: @default-color;
  background-color: #fff;
  .page{
    .sidebar{
      width: 230px;
      transition: all .3s ease;
      border-right:1px solid #eee;
      li:hover{
        & > .menu-title{
          background-color: rgba(245,108,107, .1);
        }
      }
      .logo{
        font-weight: bold;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      .center{
        overflow: visible;
        .title{
          padding: 15px 20px;
          color:#999;
          font-weight: bold;
          //transition:all .3s ease;
          height: 48px;
          width: 229px;
        }
        ul,li{
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
        }
        &>div{
          width: 100%;
        }
        & > div > ul > li {
          position: relative;
          ul{
            position: absolute;
            width: 230px;
            top:0;
            left:100%;
            display: none;
            background-color: #fff;
            //border:1px solid #C5BFD6;
            box-shadow: 4px 4px 1px rgba(0,0,0,.1);
            li{
              position: relative;
              ul{
                display: none;
              }
              &:hover{
                & > ul{
                  display: block;
                }
              }
            }
          }
          &:hover{
            & > ul{
              display: block;
            }
          }
        }
      }
      .bottom{
        width: 100%;
        position: relative;
        padding: 15px 0;
        background-color: #f9f9f9;
      }
      &.close{
        width: @sidebar-width;
        background-color: #f6f9fa;
        .center{
          & > ul > li{
            margin-bottom: 10px;
          }
          .title{
            overflow: hidden;
            width: 229px;
            opacity: 0;
            height: 48px;
          }
        }
      }
    }
    .container{
      background-color: #fafafa;
      .topbar{
        height: 45px;
        background-color: #C95958;
        color: hsla(0,0%,100%,.7);
        padding: 0 20px;
        .toggle{
          font-size: 20px;
          cursor: pointer;
        }
        .left,.right{
          font-size: 14px;
        }
        .right{
          i.item{
            margin-left: 30px;
            font-size: 18px;
            cursor: pointer;
          }
        }
        .bread{
          color:#fff;
          margin-left: 20px;
          a{
            color: hsla(0,0%,100%,.7);
            &:link,&:visited{
              color: hsla(0,0%,100%,.7);
            }
            &:hover{
              color:#7C6FA4;
            }
          }
          span{
            color: hsla(0,0%,100%,.7);
          }
          a,span{
            cursor: pointer;
          }
        }
      }
    }
  }
}