@sidebar-width: 76px;
@sidebar-max-width: 230px;
@padding: 15px;
@font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
@font-size:12px;
@default-color:#383838;
@default-ligt-color: #666;
@color-lightest: #fff;

@sidebar-bgcolor:#1B1B1E;
@sidebar-bgcolor-rgba: rgba(68,68,70, .15);
@sidebar-bg-color-dark: #19191C;
@sidebar-bg-color-light:#2F2F32;
@sidebar-color:#6D6D6F;
@sidebar-border-color:#58A4B0;
@sidebar-border-color-rgba: rgba(88,164,176, .1);
@sidebar-color-light:#444446;

@topbar-bg-color: #fff;
@topbar-color:#59595B;
@topbar-color-hover:#111;